*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    color: #FFFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow: hidden;  
    background: #202124;
}
header{
    height: 10%;
    text-align: right;
}
header svg{
    width: 30px;
    opacity: 0.3;
    padding: 5px;
}
header img{
    width: 30px;
    padding: 5px;
    margin-right: 10px;
}
header svg,header img,#btn input{
    cursor: pointer;
}
header a {
    top:-15px;
    position:relative;  
    margin-right: 10px;
}
a{
    text-decoration: none;
    color:inherit;/* pega do pai a cor*/
}
a:hover {
   
    text-decoration: underline;
}
#menu, #profile {
    width: 40px;
    height: 40px;
}
.circle{
    border-radius: 50%;
  
}
 .circle:hover{
    background-color: rgb(233, 231, 231);
    opacity: 0.3;
}
main{
    height: 60%;
    text-align: center;
    padding: 50px 25%;
}
#titleGoogle,#searchBox,#btn{
    margin-bottom: 20px;
}
#searchBox{
    background: #202124;
    border: 1px solid #696969;
    
    border-radius: 24px;
    height: 44px;
    width: 638px;
}
#searchBox:hover{
    background-color: #363636;
    color: transparent;
    opacity: 0.3;
    box-shadow: 10px 5px 5px black;
    border-color: #363636;    
}
#searchBox svg, #searchBox img{
    width: 24px;
    margin: 8px 0;
}
#searchBox input{
    
    background-color: transparent;
    border: none;
    height: 34px;
    width: 518px;
    outline: none;
    font-size: 16px;
    position: relative;
    top:-12px;
    padding: 0 10px;
}
#btn input{
    background-color: #363636;
    border: 1px solid transparent;
    color: #FFFAFA;
    border-radius: 5px;
    margin: 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    user-select: none;
}
#btn input:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    border: 1px solid #696969;
    
}
.language{
    color: #1a0dab;
    cursor: pointer;
    margin-left: 5px;
}
.language:hover{
    text-decoration: underline;
}
footer{
    width: 100%;
    height: 94px;
    box-sizing: border-box;
    background: #171717;
    color: #808080;
}
#country{
    padding: 15px 30px;
    border-bottom: 1px solid #363636;
    font-size: 15px ;
}
#linksFooter{
    padding: 15px 20px;
    text-align: center;
}
#linksFooter a{
    padding: 15px;

}
#item1{
    position: relative;
    left: -250px;

}
#item2{
    position: relative;
    right: -20px;
}